# Node.js
node_modules/

# Expo
.expo/

# Android (se não for usar o Android Studio diretamente)
android/

# JetBrains IDEs
.idea/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos de configuração do TypeScript
expo-env.d.ts
config.ts

# Outros arquivos que podem ser ignorados
*.log
